<div class="container p-0">
    <div class="row">
        <div class="chat-container d-flex flex-column">
            <div class="header d-flex justify-content-between gap-1">
                <div class="profile-content-container d-flex align-items-center">
                    <img 
                    class="profile-image" 
                    [src]="currChatUser().profileImage ? currChatUser().profileImage.src :mainState.defaultProfileImg" 
                    width="45" height="45" 
                    alt="profile image">

                    <span>
                        {{currChatUser().username}}
                    </span>
                </div>

                <div>
                    <img 
                        class="minimize-icon" 
                        src="assets/icons/minimize.svg" 
                        width="28" height="28" 
                        alt="minimize icon" />
                    <img 
                        class="close-icon" 
                        src="assets/icons/close25px.svg" 
                        width="28" height="28" 
                        alt="close icon" 
                        (click)="closeChat()"/>
                </div>
            </div>
            
            <div class="main">
                
            </div>
            
            <div class="footer">
                <app-input-field />
            </div>
        </div>
    </div>
</div>