@import "../../../../../../../styles.scss";

.chat-container {
  height: 450px;
  width: 350px;
  padding: 10px;
  border-radius: $border-radius $border-radius 0px 0px;
  background-color: $post-light-color;
  border: 2px solid $light-purple;

  .header {
    .minimize-icon,
    .close-icon {
      cursor: pointer;
    }

    .profile-content-container {
      gap: 11px;

      .profile-image {
        border-radius: 50%;
      }
    }
  }

  .footer {
    position: absolute;
    bottom: 10px;
  }
}
