<div class="general-container">
  @if (mainState.openedPost() && !mainState.openedPost().isModal) {
  <app-post-modal
    [username]="mainState.openedPost().author.username"
    [authorProfileImg]="mainState.openedPost().author.profileImage"
    [images]="mainState.openedPost().images"
    [likes]="mainState.openedPost().likes"
    [title]="mainState.openedPost().title"
    [text]="mainState.openedPost().text"
    [tags]="mainState.openedPost().tags"
    [postId]="mainState.openedPost()._id"
    [initialComments]="mainState.openedPost().comments"
    [currUserImg]="mainState.userProfileImg()"
    [initialTotalCommentsCount]="mainState.openedPost().commentsCount"
    [totalLikes$]="mainState.openedPost().totalLikes"
    [isLikedByCurrUser$]="mainState.openedPost().isLiked"
    [createdAt]="mainState.openedPost().createdAt"
    [isClickOutsideOn]="false"
  />
  }
</div>
