.fixed-width {
  max-width: 500px !important;
}

.general-container {
  max-width: 800px;
  margin: 50px auto;
  width: 100%;
  margin-bottom: 200px;
}

@media screen and (max-width: 768px) {
  .general-container {
    margin: 0px auto;
    max-width: none;
    margin-bottom: 100px;
  }
}
