<div class="user-posts-container">
  @for (post of posts(); track $index) {
  <app-post
    [username]="post.author.username"
    [authorProfileImg]="post.author.profileImage"
    [images]="post.images"
    [likes]="post.likes"
    [title]="post.title"
    [text]="post.text"
    [tags]="post.tags"
    [postId]="post._id"
    [comments]="post.comments"
    [currUserImg]="state.userProfileImg()"
    [totalCommentsCount]="post.commentsCount"
    [totalLikes$]="post.totalLikes"
    [isLikedByCurrUser$]="post.isLiked"
  />
  }
</div>
