<div class="container-fluid">
  <div class="row">
    <div
      class="content-container content-container col-12 d-flex flex-column align-items-center justify-content-center gap-3 p-0"
    >
      <h1 class="text-center">Reset your password</h1>
      <form
        class="form d-flex flex-column justify-content-center align-items-center gap-3"
        [formGroup]="resetPasswordResetFormGroup"
        (ngSubmit)="onSubmit()"
      >
        <input
          class="form-control full-width-control"
          type="password"
          placeholder="New password*"
          formControlName="password"
        />

        <input
          class="form-control full-width-control"
          type="password"
          placeholder="Confirm new password*"
          formControlName="confirmPassword"
        />

        @if (PasswordValid && confirmPasswordValid &&
        resetPasswordResetFormGroup.hasError('passwordsDoNotMatch')) {
        <div class="invalid-message bg-danger mb-22px">
          Password doesn't match.
        </div>
        }

        <p class="or-text fw-bold">or</p>

        <a
          class="create-account fw-bold"
          [routerLink]="['/register']"
          routerLinkActive="router-link-active"
          >Create a new account</a
        >

        <button class="btn btn-recovery fw-bold fs-5" type="submit">
          Reset password
        </button>

        <button
          class="btn btn-to-login"
          type="button"
          [routerLink]="['/login']"
        >
          Go back to Login
        </button>
      </form>

      @if (isSuccessful) {
      <div class="success-message bg-success mb-22px">
        {{ message }}
      </div>
      } @if (isWrong) {
      <div class="invalid-message bg-danger mb-22px">
        {{ message }}
      </div>
      }
    </div>
  </div>
</div>
