<div class="feed-container">
  <app-new-post class="app-new-post" />

  @for (post of this.mainState.posts(); track $index) {
  <app-post
    [username]="post.author.username"
    [authorProfileImg]="post.author.profileImage"
    [images]="post.images"
    [likes]="post.likes"
    [title]="post.title"
    [text]="post.text"
    [tags]="post.tags"
    [postId]="post._id"
    [comments]="post.comments"
    [currUserImg]="mainState.userProfileImg()"
    [totalCommentsCount]="post.commentsCount"
    [totalLikes$]="post.totalLikes"
    [isLikedByCurrUser$]="post.isLiked"
  />
  }
</div>

@if (mainState.openedPost()) {
<div class="modal-overlay">
  <div class="post-modal-container" 
  [class.fixed-width]='mainState.openedPost().images.length === 0'>
    <app-post-modal
      [username]="mainState.openedPost().author.username"
      [authorProfileImg]="mainState.openedPost().author.profileImage"
      [images]="mainState.openedPost().images"
      [likes]="mainState.openedPost().likes"
      [title]="mainState.openedPost().title"
      [text]="mainState.openedPost().text"
      [tags]="mainState.openedPost().tags"
      [postId]="mainState.openedPost()._id"
      [comments]="mainState.openedPost().comments"
      [currUserImg]="mainState.userProfileImg()"
      [totalCommentsCount]="mainState.openedPost().commentsCount"
      [totalLikes$]="mainState.openedPost().totalLikes"
      [isLikedByCurrUser$]="mainState.openedPost().isLiked"
      [createdAt]="mainState.openedPost().createdAt"
    />
  </div>
</div>
}
