<div class="feed-container">
  <app-new-post class="app-new-post" />

  @for (post of this.mainState.posts(); track $index) {
  <app-post
    [username]="post.author.username"
    [authorProfileImg]="post.author.profileImage"
    [images]="post.images"
    [likes]="post.likes"
    [title]="post.title"
    [text]="post.text"
    [date]="post.createdAt"
    [status]="post.status"
    [tags]="post.tags"
    [postId]="post._id"
    [comments]="post.comments"
    [currUserImg]="mainState.userProfileImg()"
    [totalCommentsCount]="post.commentsCount"
    [totalLikes$]="post.totalLikes"
    [isLikedByCurrUser$]="post.isLiked"
  />
  }

  @if (isLoadingPosts) {
    <div class='w-100 text-center'>
      <app-loading-spinner classes="text-black"/>
    </div>
  }

  @if(this.mainState.posts()!.length === 0 && !isLoadingPosts) {
    <div class="text-center mt-5">
      <h4 class="text-secondary">No posts yet. But 
        you can add some people</h4>
    </div>
  }
</div>