<div class="content">
  <div class="row">
    <div class="header pt-3 d-flex flex-column align-items-center">
      <h4 class="text-center">Friends</h4>

      <div class="search-bar-container w-100">
        <app-search-bar class="search-bar" (searchedText)="onSearch($event)" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="friend-list d-flex flex-column">
      @for (friend of currentFriends(); track $index) {
        <app-friend-list-user-card 
        [username]="friend.username" 
        [isOnline]="friend.isOnline" 
        [profileImage]="friend.profileImage ? friend.profileImage.src : mainState.defaultProfileImg" 
        (click)="onUserProfileClick(friend)"/>
      }
    </div>
  </div>
</div>
