@use "../../../../../../../styles.scss" as styles;

.profile-options-container {
  max-width: 250px;
  position: relative;

  .profile-container {
    background-color: styles.$light-purple;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    z-index: 10;

    .profile-image {
      border: 1px solid white;
      object-fit: cover;
      margin-right: 5px;
      border-radius: 50%;
      cursor: pointer; // прави снимката кликаема
      transition: transform 0.3s ease-in-out;

      &.clickable {
        &:hover {
          transform: translateY(-2px);
        }
      }

      &.rotated {
        transform: rotate(180deg);
      }
    }

    .arrow-img {
      position: absolute;
      cursor: pointer;
      width: 25px;
      right: 25px;
      transition: transform 0.2s ease-in-out;
      rotate: 180deg;

      &:hover {
        transform: translateY(+2px);
      }

      &.rotated {
        transform: rotate(180deg);
      }
    }
  }

  .profile-menu {
    position: absolute;
    top: 15px;
    left: 1px;
    max-width: 248px;
    max-height: 0px;
    height: 300%;
    width: 100%;
    background-color: styles.$post-light-color;
    border-radius: 0px 0px styles.$border-radius styles.$border-radius;
    transition: all 0.3s ease-out;
    // border: 1px solid styles.$primary-purple;
    pointer-events: none;

    .list-unstyled {
      margin-top: 25px;
      margin-bottom: 0px;
      width: 100%;
    }

    .option {
      height: 50px;
      opacity: 0;
      width: 100%;

      transition: all 0.3s ease-out;
      cursor: pointer;

      &:hover {
        background-color: styles.$light-purple;
        color: white;
      }
    }

    .last-option {
      border-radius: 0px 0px styles.$border-radius styles.$border-radius;
    }

    &.open {
      max-height: 400px;
      opacity: 1;
      pointer-events: all;
      border: 1px solid styles.$primary-purple;

      .option {
        height: 50px;
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .profile-options-container {
    display: flex;
    align-items: center !important;
    justify-content: center !important;

    .profile-container {
      height: 30px;
      width: 30px;

      .profile-image {
        margin-right: 0px !important;
        width: 30px !important;
        height: 30px !important;
        aspect-ratio: 1/1 !important;
      }
    }

    .profile-menu {
      top: 40px;
      width: 68px;
      left: -20.4px;
      // display: none !important;
    }
  }
}