<div class="profile-options-container">
  <div class="profile-container d-flex align-items-center">
    <img
      class="profile-image"
      [src]="
        mainState.userProfileImg()
          ? mainState.userProfileImg()
          : mainState.defaultProfileImg
      "
      width="45"
      height="45"
      alt="profile image"
      (click)="onProfileImageClick()"
    />

    <div class="d-none d-md-flex flex-column">
      <p class="username mb-0">{{ username }}</p>
    </div>

    <img
      #arrowImg
      class="d-none d-md-block arrow-img"
      src="./assets/icons/arrow-up.svg"
      alt="arrow up"
      [class.rotated]="isArrowRotated"
      (click)="toggleArrow()"
    />
  </div>

  <div #profileMenu class="profile-menu d-flex align-items-end justify-content-center">
    <ul class="list-unstyled d-flex flex-column justify-content-center align-items-center">
      <li class="option d-flex justify-content-center align-items-center" (click)="options()">Settings</li>
      <li class="option last-option d-flex justify-content-center align-items-center" (click)="logout()">Logout</li>
    </ul>
  </div>
</div>
