<div class="container">
  <div class="row">
    <div class="content">
      <div class="profile-icons-container d-flex flex-column-reverse gap-3">
        @for (chatHead of mainState.currentChatHeads(); track $index) {

        <div class="profile-image-container">
          <img
            class="profile-image"
            [src]="chatHead.profileImage ? chatHead.profileImage.src: mainState.defaultProfileImg"
            alt="profile-icon"
            (click)="onProfileClick(chatHead.username)"
          />

          <span class="close-icon" (click)="onClose(chatHead.username)">
            <img src="assets/icons/close.svg" alt="close-icon" />
          </span>
        </div>
        }
      </div>
    </div>
  </div>
</div>
