<app-header />
<app-main />

@if(mainState.isLoading().friends || mainState.isLoading().posts ||
mainState.isLoading().notifications || mainState.isLoading().profileImage) {
<app-initial-loading-spinner />
} 

@if (mainState.openedPost()) {
<div class="modal-overlay">
  <div
    class="post-modal-container" [class.without-image]="mainState.openedPost().images.length === 0"
    [class.fixed-width]="mainState.openedPost().images.length === 0"
  >
    <app-post-modal
      [username]="mainState.openedPost().author.username"
      [authorProfileImg]="mainState.openedPost().author.profileImage"
      [images]="mainState.openedPost().images"
      [likes]="mainState.openedPost().likes"
      [title]="mainState.openedPost().title"
      [text]="mainState.openedPost().text"
      [tags]="mainState.openedPost().tags"
      [postId]="mainState.openedPost()._id"
      [comments]="mainState.openedPost().comments"
      [currUserImg]="mainState.userProfileImg()"
      [totalCommentsCount]="mainState.openedPost().commentsCount"
      [totalLikes$]="mainState.openedPost().totalLikes"
      [isLikedByCurrUser$]="mainState.openedPost().isLiked"
      [createdAt]="mainState.openedPost().createdAt"
    />
  </div>
</div>
}
