<div class="container-fluid position-relative px-0">
  <div class="row m-0">
    <div class="post-modal-container px-0 d-flex">
      <div class='left-side d-flex flex-column justify-content-between'>
        @if(isOnMobile) {
      <div
          class="header p-2 d-flex align-items-center"
        >
          <div
            class="return-arrow-container d-flex justify-content-center align-items-center"
            (click)="this.mainState.closePost()"
          >
            <img
              width="25px"
              height="25px"
              src="assets/icons/chevron-left-grey.svg"
              alt="return arrow"
            />
          </div>

          <div class="d-flex gap-10px m-auto">
            <div
              class="profile-icon-container"
              (click)="navigateToAuthorProfile()"
            >
              <img
                width="55"
                height="55"
                class="profile-image"
                [src]="
                  authorProfileImg()
                    ? authorProfileImg().src
                    : mainState.defaultProfileImg
                "
                alt=""
              />
            </div>

            <div class="d-flex flex-column">
              <span
                class="username-container"
                (click)="navigateToAuthorProfile()"
              >
                {{ username() }}
              </span>

              <span>
                {{ date() | timeAgo }}
              </span>
            </div>
          </div>
        </div>         
        }
      @if(images().length > 0) {
      <div class="images-container">
        @if(isOnMobile) {
        } @for (image of images(); track $index) {
        <div
          class="image-wrapper"
          [class.active]="currentImageIndex === $index"
          [class.prev]="currentImageIndex > $index"
          [class.next]="currentImageIndex < $index"
        >
          <img class="image" [src]="image.src" [alt]="'Image ' + $index" />
        </div>
        } @if(currentImageIndex > 0) {
        <div class="arrow-container left-arrow-container" (click)="prevImage()">
          <img
            class="arrow"
            src="assets/icons/arrow-up.svg"
            alt="Previous"
            style="transform: rotate(-90deg)"
          />
        </div>
        } @if(currentImageIndex + 1 < images().length) {
        <div
          class="arrow-container right-arrow-container"
          (click)="nextImage()"
        >
          <img
            class="arrow"
            src="assets/icons/arrow-up.svg"
            alt="Next"
            style="transform: rotate(90deg)"
          />
        </div>
        } @if(images().length > 1) {
        <div class="dots-container">
          @for (image of images(); track $index) {
          <span
            class="dot"
            [class.active]="currentImageIndex === $index"
            (click)="currentImageIndex = $index"
          ></span>
          }
        </div>
        }
      </div>
      }
      </div>

      <div
        class="right-side d-flex flex-column justify-content-between"
        [class.w-100]="images().length === 0"
      >
        <form class="scrollable-content" [formGroup]="editPostFormGroup" (ngSubmit)="onSubmitEdit()">
          @if(!isOnMobile) {
          <div class="header d-flex align-items-center justify-content-between">
            <div class="d-flex gap-10px">
              <div
                class="profile-icon-container"
                (click)="navigateToAuthorProfile()"
              >
                <img
                  width="55"
                  height="55"
                  class="profile-image"
                  [src]="
                    authorProfileImg()
                      ? authorProfileImg().src
                      : mainState.defaultProfileImg
                  "
                  alt=""
                />
              </div>

              <span
                class="username-container"
                (click)="navigateToAuthorProfile()"
              >
                {{ username() }}
              </span>
            </div>

            @if(this.utilityService.userInfo.username === username()) {
              <div class="options-container">
                <img
                  class="icon"
                  src="assets/icons/more.svg"
                  alt=""
                  (click)="toggleOptionsMenu()"
                />

                @if(isOptionsClicked) {
                <app-options-menu
                  class="post-options-menu"
                  (deletePost)="isDeletionModalOpened = true"
                  (editPost)="startEditPost()"
                  [isAuthor]="
                    this.utilityService.userInfo.username === username()
                  "
                />
              }
              </div>
            }
          </div>
          } @if(title()) { @if(mainState.openedPost().isEditing) {
          <textarea
            type="textarea"
            rows="3"
            class="form-control textarea mb-3"
            formControlName="title"
          >
          </textarea>
          } @else {
          <div class="title-container">
            <h5 class="title">
              {{ this.mainState.openedPost().title }}
            </h5>
          </div>
          } } @if(this.mainState.openedPost().text) { @if(mainState.openedPost().isEditing) {
          <textarea
            type="textarea"
            rows="10"
            class="form-control textarea mb-3"
             formControlName="text"
          >
          </textarea>
          } @else {
          <div class="text-container">
            <p
              class="text"
              [class.collapsed]="isCollapsed"
              [class.expanded]="!isCollapsed"
            >
              {{
                isCollapsed && this.mainState.openedPost().text.length > 75
                  ? (this.mainState.openedPost().text | slice : 0 : 75) + "..."
                  : this.mainState.openedPost().text
              }}
            </p>

            @if (this.mainState.openedPost().title.length > 100) {
            <span (click)="toggleReadMore()" class="read-more">
              {{ isCollapsed ? "more" : "less" }}
            </span>
            }
          </div>
          } } @if(tags().length > 0) { @if (mainState.openedPost().isEditing) {
          <div class="tags-container-edit d-flex" formArrayName="tags">
            <div class="add-tag-container d-flex">
              <input
                #newTag
                class="form-control"
                type="text"
                placeholder="add a tag"
              />
              <button
                type="button"
                class="add-tag-btn"
                (click)="onAddTag(newTag.value); newTag.value = ''"
              >
                <img
                  class="add-tag-img"
                  src="./assets/icons/plus.svg"
                  alt="add tag icon"
                />
              </button>
            </div>

            @for (tag of tagsArr.value; track $index) {
            <span
              class="tag-edit d-flex align-items-center justify-content-center"
              (click)="onRemoveTag($index)"
              >{{ tag }}

              <span class="delete-icon fs-3">✖</span>
            </span>
            }
          </div>
          } @else {
          <div class="tags-container">
            @for (tag of tags(); track $index) {
            <span class="tag"> {{ tag }}</span>
            }
          </div>
          } }


          @if(mainState.openedPost().isEditing) {
            <div class="btn-container d-flex justify-content-between mt-5">
              <button type="button" class="btn btn-cancel" (click)="cancelEditMode()">
                Cancel
              </button>
              
              <button
              type="submit"
              class="btn"
              >
              Save
            </button>
          </div>
          }
          
          <div
            class="interactions-container d-flex justify-content-between mb-1"
          >
            <div class="row">
              <div class="d-flex gap-10px">
                <img
                  class="interaction-icon"
                  [src]="
                    isLiked
                      ? 'assets/icons/sparkle-colored.png'
                      : 'assets/icons/sparkle.png'
                  "
                  (click)="toggleLike()"
                />
                <img
                  class="interaction-icon"
                  src="assets/icons/share-arrow.svg"
                  alt=""
                  (click)="showShareModal()"
                />
              </div>
            </div>

            <!-- TODO -->
            <!-- <div>
              <img
                class="interaction-icon"
                src="assets/icons/bookmark-outlined.svg"
                alt=""
              />
            </div> -->
          </div>

          <div class="row">
            <div class="d-flex gap-10px">
              <span class="fw-bold">{{ totalLikes }} likes</span>
            </div>

            <div>{{ totalCommentsCount() }} comments</div>
          </div>

          <div class="comments-container">
            @for (comment of comments(); track $index) {
            <app-comment
              [postId]="postId()"
              [commentId]="comment._id"
              [username]="comment.author.username"
              [authorProfileImage]="comment.author.profileImage"
              [text]="comment.text"
              [initialIsLiked]="comment.isLiked"
              [initialTotalLikes]="comment.totalLikes"
              [date]="comment.createdAt"
              (deleteOutput)="onCommentDelete($event)"

            ></app-comment>
            } @if (totalCommentsCount() < comments().length) {
            <div
              class="view-more-btn my-3 mb-md-0 d-flex justify-content-center align-items-center"
              (click)="showMoreComments()"
            >
              <span
                class="view-more-btn d-flex justify-content-center align-items-center fw-semibold"
                >View more</span
              >
            </div>
            }
          </div>
        </form>

        <!-- Add comment Form -->
        <div class="add-comment-container d-flex gap-10px">
          <div class="profile-icon-container">
            <img
              width="45"
              height="45"
              class="profile-image"
              [src]="currUserImg()"
              alt="profile image"
            />
          </div>

          <form
            class="my-comment-form w-100"
            [formGroup]="commentFormGroup"
            (ngSubmit)="onComment()"
          >
            <div class="my-comment d-flex">
              <textarea
                class="form-control align-content-center"
                [ngClass]="{ 'border-radius': comment.clientHeight > 57 }"
                (keydown)="onKeyDown($event)"
                #comment
                type="text"
                placeholder="Add a comment..."
                formControlName="comment"
                appAutoResizeTextarea
                [minHeight]="45"
                [maxHeight]="200"
              >
              </textarea>
            </div>

            @if(comment.value.trim() !== '') {
            <div class="d-flex justify-content-end">
              <button 
                class="post-comment-btn" 
                type="submit"
              >Post</button>

              <button
                class="cancel-comment-btn"
                type="button"
                (click)="onCancelComment()"
              >
                Cancel
              </button>
            </div>
            }
          </form>
        </div>
      </div>
    </div>
  </div>

  @if(isDeletionModalOpened) {
  <div class="modal-overlay">
    <div class="modal-container">
      <app-custom-modal
        (clickedOption)="onChoseOptionProfile($event)"
        [title]="'You are about to delete current post'"
        [options]="modalOptions"
      ></app-custom-modal>
    </div>
  </div>
  } @if(isShareModalOpened) {
  <div class="modal-overlay">
    <div class="modal-container">
      <app-share-modal
        (clickedOption)="onChoseOptionProfile($event)"
        [title]="'Share post'"
        [postId]="postId()"
      ></app-share-modal>
    </div>
  </div>
  }
</div>
