@import "../../../../../../../../styles.scss";

.user-card {
  gap: 11px;
  padding: 7px;
  border-radius: 11px;

  &:hover {
    cursor: pointer;
    background-color: $light-purple;
    color: rgb(255, 255, 255);
  }

  .profile-image {
    object-fit: cover;
    height: 45px;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }

  .status-icon {
    padding: 6px;
    position: absolute;
    right: -1px;
    top: 32px;
    border-radius: 50%;
    border: 2px solid $primary-background;
  }
}