@use "../../../../../../../../../../../styles.scss" as styles;

.comment-container {
  .profile-image {
    border-radius: 50%;
  }
  
    .like-icon {
    cursor: pointer;
  }

  .text {
    display: block;
    max-width: 379px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;

    &.collapsed {
      max-height: none;
    }
  }

  .read-more {
    color: styles.$primary-purple;
    cursor: pointer;
    user-select: none;

    &:hover {
      color: styles.$light-purple;
    }
  }
}
