@use "../../../../../../../../../../../styles.scss" as styles;

.comment-container {
  .profile-image {
    object-fit: cover;
    border-radius: 50%;
  }

  .like-icon {
    cursor: pointer;
  }

  .content {
    max-width: 380px;
    
    @include styles.mobile {
      max-width: 280px;
    }

    .text {
      display: block;
      overflow-wrap: break-word;
      word-wrap: break-word;
      white-space: normal;

      &.collapsed {
        max-height: none;
      }
    }

    .read-more {
      color: styles.$primary-purple;
      cursor: pointer;
      user-select: none;

      &:hover {
        color: styles.$light-purple;
      }
    }
  }
}
