<div class="comment-container d-flex gap-3 mt-3">
  <div class="d-flex flex-column align-items-center gap-2 pt-3">
    <img
      class="profile-image"
      [src]="authorProfileImage() ? authorProfileImage().src : mainState.defaultProfileImg"
      alt="author profile image"
      width="45"
      height="45"
    />

    <img
      class="like-icon"
      [src]="isLiked ? 'assets/icons/sparkle-colored.png': 'assets/icons/sparkle.png'"
      alt="like icon"
      width="23px"
      height="23px"
      (click)="toggleLike()"
    />
  </div>

  <div class="d-flex flex-column content w-100">
    <span class='d-flex justify-content-between align-items-center position-relative'>
      {{ username() }}

      <div class='options-container'>
        @if(utilitySessionService.userInfo.username === username()) {
          <fa-icon class='options-dots fs-3' [icon]="dotsIcon" (click)="toggleCommentMenu()"></fa-icon>
        }
        
        @if(isMenuOpened) {
          <div class='options-menu-container position-absolute'>
            <app-options-menu [isAuthor]="utilitySessionService.userInfo.username === username()"/>
          </div>
        }
      </div>
    </span>

    <p
      class="text mb-1"
      [class.collapsed]="isCollapsed"
      [class.expanded]="!isCollapsed"
    >
    {{ isCollapsed && text()!.length > 75 ? (text() | slice : 0 : 75) + "..." : text() }}
    </p>

    @if (text()!.length > 100) {
    <span (click)="toggleReadMore()" class="read-more">
      {{ isCollapsed ? "more" : "less" }}
    </span>
    }

    <div class="d-flex gap-3">
      <span> {{ date() | timeAgo }} </span>
      <span> {{ totalLikes }} likes </span>
      <!-- <span> Reply </span> -->
    </div>
  </div>
</div>
