<a [routerLink]="['/profile', user().username]"
    class='container-user-card d-flex flex-column justify-content-around align-items-center p-3'>
    <div class='profile-image-container'>
        <img width='150' height='150' class='profile-image'
            [src]='user().profileImage ? user().profileImage.src : mainState.defaultProfileImg' alt='profile image'>
    </div>

    <h2 class="fs-4 text-dark container-text d-flex align-items-center mt-2 mb-3 justify-content-center">
        {{ user().username | maxLengthPipe:10:true}}
    </h2>

    <div class='container-btn'>
        @if (!user().isYou) {
            @if (!user().isFriend && !user().isRequestedBySender) {
                <div class="add-btn-container col-12 d-flex justify-content-center">
                    <button class="btn" (click)="$event.stopPropagation(); $event.preventDefault(); onAddFriend()">Add friend</button>
                </div>
            }

            @if(user().isRequestedBySender) {
                <div class="remove-btn-container col-12 d-flex justify-content-center">
                    <button class="btn request"
                    (click)="$event.stopPropagation(); $event.preventDefault(); onRemoveFriendRequest()">Requested</button>
                </div>
            }
        }
        @else {
            <span class="text-secondary">You</span>
        }
    </div>
</a>