<div class='container-user-card d-flex flex-column justify-content-around align-items-center p-4 py-5'>
    <div class='profile-image-container'>
        <img width='150' height='150' class='profile-image' [src]='"assets/images/default-images/profile-image.png"' alt='profile image'>
    </div>

    <div class="container-text d-flex align-items-center justify-content-center">
        {{ user()?.username ?? 'Guest' }}
    </div>

    <div class='container-btn'>

        @switch(userState?.()) {
            @case ('isNotFriend') {
            <div class="add-btn-container col-md-4 col-12 order-md-3 order-2 d-flex justify-content-center">
                <button class="btn" (click)="onAddFriend()">Add friend</button>
            </div>
            }

            @case('isRequested') {
            <div class="add-btn-container col-md-4 col-12 order-md-3 order-2 d-flex justify-content-center">
                <button class="btn request" (click)="onRemoveFriendRequest()">Remove request</button>
            </div>
            }

            @case('isFriend') {
            <div class="remove-btn-container col-md-4 col-12 order-md-3 order-2 d-flex justify-content-center">
                <button class="btn" (click)="openModalRemoveFriend()">Remove friend</button>
            </div>
            }

            @case('isRequestedByRecipient') {
            <div class="add-btn-container col-md-4 col-12 order-md-3 order-2 d-flex justify-content-center">
                <button class="btn request" (click)="acceptFriendRequest()">Accept</button>
            </div>
            }
        }
    </div>
</div>