<nav class="navigation-container mt-md-5">
  <div class="row mx-0 p-0">
    <ul
      class="list-unstyled d-flex justify-content-around flex-md-column gap-md-2 m-0"
    >
      @for (item of navItems; track $index) {
      <li
        class="option"
        [ngClass]="{ 'selected-option': selectedOption === item }"
        (click)="selectOption(item.label)"
        [class.d-md-none]="item.label === 'Chat'"
      >
        @if(selectedOption === item) {
        <div class="selected-option-dash"></div>
        }

        <img class="navigation-icon" [src]="item.icon" [alt]="item.label" />
        <span class="label">{{ item.label }}</span>
      </li>
      }
    </ul>
  </div>
</nav>
