<div class="container-fluid">
  <div class="row">
    <div
      class="content-container content-container col-12 d-flex flex-column align-items-center justify-content-center gap-3 p-0"
    >
      <h1 class="text-center">Find your account</h1>
      <form
        class="form d-flex flex-column justify-content-center align-items-center"
        [formGroup]="forgottenPasswordFormGroup"
        (ngSubmit)="onSubmit()"
      >
        <input
          class="form-control full-width-control"
          type="text"
          placeholder="Email or username*"
          formControlName="emailUsername"
        />

        <p class="or-text fw-bold">or</p>

        <a
          class="create-account fw-bold"
          [routerLink]="['/register']"
          >Create a new account</a
        >

        <button
          type="submit"
          class="btn btn-recovery fw-bold fs-5"
          [class.deactivated]="isFieldEmpty"
        >
          Send recovery link
        </button>

        <button [routerLink]="['/login']" type="button" class="btn btn-to-login">Go back to Login</button>
      </form>

      @if (isSuccessful) {
        <div class="success-message bg-success mb-22px">
          Please check your email address to reset your password.
        </div>
      }

      @if (isWrong) {
        <div class="invalid-message bg-danger mb-22px">
          We couldn't found any account with this credentials. Please try again.
        </div>
      }
    </div>
  </div>
</div>