<div class="container-fluid">
  <div class="row">
    <div
      class="content-container content-container col-12 d-flex flex-column align-items-center justify-content-center gap-3 p-0"
    >
      <h1 class="text-center">Find your account</h1>
      <form
        class="form d-flex flex-column justify-content-center align-items-center"
        [formGroup]="forgottenPasswordFormGroup"
        (ngSubmit)="onSubmit()"
      >
        <input
          class="form-control full-width-control"
          type="text"
          placeholder="Email or username*"
          formControlName="emailUsername"
        />

        <p class="or-text fw-bold">or</p>

        <a
          class="create-account fw-bold"
          [routerLink]="['/register']"
          routerLinkActive="router-link-active"
          >Create a new account</a
        >

        <button
          class="btn btn-recovery fw-bold fs-5"
          [class.deactivated]="isFieldEmpty"
        >
          Send recovery link
        </button>

        <button class="btn btn-to-login">Go back to Login</button>
      </form>
    </div>
  </div>
</div>

<!-- [class.mb-22px]="!isEmailValid && !isEmailExists" -->
